<section class="collapse collapse-bottom text-start" id="ai-dialog"
         th:classappend="${showDialog ? 'show' : ''}">
  <div class="card mb-0 mx-auto rounded-4"
       style="max-width: 800px; border-bottom: none; border-bottom-left-radius: 0 !important; border-bottom-right-radius: 0 !important">
    <div class="card-body">
      <div class="d-flex mb-1">
        <p class="card-title text-secondary flex-fill">
          <i class="fa-solid fa-fw fa-circle-question"></i>
          Ask AI
        </p>
        <button class="btn btn-close" data-bs-toggle="collapse" data-bs-target="#ai-dialog"></button>
      </div>
      <form class="d-flex" th:object="${form}"
           hx-target="#ai-dialog"
           hx-swap="outerHTML"
           th:attr="hx-post=${'/chess/' + boardId + '/ai/question'}">
        <input type="text" th:field="*{question}" class="form-control flex-fill"
               hx-trigger="keyup[key=='Enter']"
               placeholder="What should I play next?"
               autocomplete="off" required/>
        <button class="ms-2 btn btn-outline-secondary" type="submit">
          <i class="fa-solid fa-fw fa-play"></i>
        </button>
      </form>
    </div>
  </div>
  <script type="text/javascript">
      function selectQuestion() {
          const q = $("#question");
          q.focus();
          if (!q.value) {
              q.select();
          }
      }
      document.getElementById("ai-dialog").addEventListener("shown.bs.collapse", () => selectQuestion());
      selectQuestion();
  </script>
</section>
